textarea {
    width: 450px;
    height: 180px;
    border: 3px solid #025c8f;
    border-radius: 5px;
    display: block;
    margin: 5px 5px auto 700px;
    overflow-scrolling: auto;
    text-decoration: none;
    padding: 10px;
}

input {
    width: 450px;
    height: 10px;
    border: 3px solid #025c8f;
    border-radius: 5px;
    display: block;
    margin: 10px 5px auto 700px;
    overflow: hidden;
    text-decoration: none;
    padding: 10px;
}

label {
    margin: 50px 5px 5px 700px;
}

.btn-add {
    margin: 20px 5px 5px 1040px;
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #0070f6;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #004788;
    background: linear-gradient(#9ae4fb, #1d8af4 48%, #1a6fea 52%, #2b47f0);
}

.btn-add:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
